settings: 
  real_debrid:
    token:

  overseerr:
    host:
    token:

  plex:
    host:
    token:
    tv_id:
    movie_id:

  torrentio:
    filter_uri: "sort=qualitysize|qualityfilter=other,scr,cam,unknown"

shows:
  seasons:
    - "(?i)[. ]s\\d+[. ]"
    - "(?i)[. ]season \\d+[. ]"
  episodes:
    - "(?i)[. ]e\\d+[. ]"
    - "(?i)[. ]episode \\d+[. ]"

movies:
  max_files: 45

versions:
  all:
    - name: "4K HDR"
      include:
        - "(?i)2160p.*hdr|hdr.*2160p|4k.*hdr|hdr.*4k"

    - name: "4K"
      include:
        - "(?i)2160p|4k"
      exlude:
        - "(?i)hdr"

    - name: "1080P HDR"
      include:
        - "(?i)1080p.*hdr|hdr.*1080p"

    - name: "1080P"
      include:
        - "(?i)1080p"
      exlude:
        - "(?i)hdr"
